@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 0 0% 96%;
    --card: 215 28% 11%;
    --card-foreground: 0 0% 96%;
    --popover: 215 28% 11%;
    --popover-foreground: 0 0% 96%;
    --primary: 195 100% 50%;
    --primary-foreground: 215 28% 17%;
    --secondary: 215 28% 20%;
    --secondary-foreground: 0 0% 96%;
    --muted: 215 28% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 195 100% 81%;
    --accent-foreground: 215 28% 17%;
    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 96%;
    --border: 215 28% 20%;
    --input: 215 28% 20%;
    --ring: 195 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 96%;
    --card: 215 28% 11%;
    --card-foreground: 0 0% 96%;
    --popover: 215 28% 11%;
    --popover-foreground: 0 0% 96%;
    --primary: 195 100% 50%;
    --primary-foreground: 215 28% 17%;
    --secondary: 215 28% 20%;
    --secondary-foreground: 0 0% 96%;
    --muted: 215 28% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 195 100% 81%;
    --accent-foreground: 215 28% 17%;
    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 96%;
    --border: 215 28% 20%;
    --input: 215 28% 20%;
    --ring: 195 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
